.tag {
  border-radius: 5px;
  padding:0 6px;
  height:1.8em;
  margin-right: 6px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  line-height: 1em;
}
.tag span{
  vertical-align: middle;
}
.tag:last-child {
  margin-right: 0;
}

.spacer {
  margin: 0 2px;
}

.grey {
  color: (--text-primary);
  background-color: var(--background-secondary);
}

.red {
  color: #DC513E;
  background-color: #F8DCD8;
}

.blue {
  color: var(--accent);
  background-color: var(--accent-shade);
}

.yellow {
  color: #B58500;
  background-color: #F8F3D7;
}

.green {
  color: #19AF55;
  background-color: #E0F2EB;
}

.medium {
  font-size: var(--font-medium);
}

.regular {
  font-size: var(--font-regular);
}