.button {
  background-color: transparent;
  border: none;
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.spacer {
  margin: 0 2px;
}

.text-primary {
  border-radius: 5px;
  padding: 2px 6px;
}

.text-accent {
  border-radius: 5px;
  padding: 2px 6px;
  color: var(--text-accent)
}

.solid {
  border-radius: 10px;
}

.text-primary:hover {
  background-color: var(--secondary-background);
}

.text-accent:hover {
  background-color: #D4E4FC;
}

.medium {
  font-size: var(--font-medium);
}

.regular {
  font-size: var(--font-regular);
}