.button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding:0;
  height:1.8em;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1em;
  text-align: center;
  border-radius: 5px;
}
.buttonText{
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  padding: 0 6px;
  font-weight: 500;
  white-space: nowrap;
}
.round{
  height:2.6em;
  width:2.6em;
  padding:0;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
}
.thick{
  height:2.5em;
  padding:0 5px;
  border-radius: 8px;
}
.button:active{
  opacity:.7
}
.spacer {
  padding: 0 2px;
}

.text-primary {
  color: var(--text-primary)
}
.text-grey {
  color: var(--input-focused-background);
}
.text-accent {
  color: var(--accent)
}

.text-red {
  color: var(--text-red)
}
.text-white{
  color:var(--text-white);
}
.solid {
  border-radius: 10px;
}
.fill-accent{
  background-color: var(--accent);
  color:#fff;
  padding:0 5px;
}
.fill-accent:hover{
  opacity:.8;
}
.fill-accent:active{
  opacity:.7
}
.text-primary:hover,.text-grey:hover {
  background-color: var(--primary-shade);
}

.text-accent:hover {
  background-color: var(--accent-shade)
}
.text-red:hover{
  background-color: var(--red-shade)
}
.text-white:hover{
  background-color: rgba(255,255,255,0.1);
}
.medium {
  font-size: var(--font-medium);
}

.regular {
  font-size: var(--font-regular);
}

.large {
  font-size: var(--font-semilarge);
}