.button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight:600;
  outline: none;
  border-radius: 5px;
  padding: 0 6px;
  height:1.8em;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1em;
  justify-content: center;
  text-align: center;
}
.round{
  height:2.6em;
  width:2.6em;
  padding:0;
  border-radius: 50%;
}
.button:active{
  opacity:.7
}
.spacer {
  margin: 0 2px;
}

.text-primary {
  color: var(--text-primary)
}
.text-grey {
  color: var(--border);
}
.text-accent {
  color: var(--accent)
}

.text-red {
  color: var(--text-red)
}
.text-white{
  color:#fff;
}
.solid {
  border-radius: 10px;
}
.fill-accent{
  background-color: var(--accent);
  color:#fff;
}
.fill-accent:hover{
  opacity:.9;
}
.fill-accent:active{
  opacity:.7
}
.text-primary:hover,.text-grey:hover {
  background-color: var(--background-secondary);
}

.text-accent:hover {
  background-color: var(--accent-shade)
}
.text-red:hover{
  background-color: var(--red-shade)
}
.text-white:hover{
  background-color: rgba(0,0,0,0.08);
}
.medium {
  font-size: var(--font-medium);
}

.regular {
  font-size: var(--font-regular);
}

.large {
  font-size: var(--font-semilarge);
}