.button {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  outline: none;
}
.button:active{
  opacity:.7
}
.spacer {
  margin: 0 2px;
}

.text-primary, .text-accent, .text-red,.text-white {
  border-radius: 5px;
  padding: 2px 6px;
  color: var(--text-primary);
}

.text-primary {
  color: var(--text-primary)
}

.text-accent {
  color: var(--accent)
}

.text-red {
  color: var(--text-red)
}
.text-white{
  color:#fff;
}
.solid {
  border-radius: 10px;
}

.text-primary:hover {
  background-color: var(--background-secondary);
}

.text-accent:hover {
  background-color: var(--accent-shade)
}
.text-red:hover{
  background-color: var(--red-shade)
}
.text-white:hover{
  background-color: #0002;
}
.medium {
  font-size: var(--font-medium);
}

.regular {
  font-size: var(--font-regular);
}

.large {
  font-size: var(--font-semilarge);
}