.container {
  padding: 10px;
  padding-top: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* -------- */

.navbar {
  width: 200px;
  padding: 10px;
  padding-top: 25px;
  background-color: var(--accent);
  overflow-y:auto;
}

.navbar::-webkit-scrollbar {
  width: 5px;
  background-color: #e2e2e2;
}

.navbar::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #c7c7c7;
}

.navlink {
  font-size: var(--font-regular);
  font-weight: bold;
  color:var(--text-white);
  padding: 3px 5px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.navlink:hover {
  background-color: #2772E3;
  text-decoration: none;
  opacity: 1;
  color:var(--text-white)
}

.activeNavlink {
  text-decoration: none;
  background-color: #256CD7;
  /* border:3px solid #498CF2; */
  font-weight: bold;
}

.activeNavlink:hover {
  background-color: #256CD7;
  /* border:3px solid #498CF2; */
}

.navlinkBadge {
  font-weight: initial;
  font-size: var(--font-medium);
  color: inherit;
}

.navTabBar{
  border-bottom: 1px solid #5493F2;
  padding:5px 10px 0 10px;
  display: flex;
  margin-top: 10px;
}
.navTab{
  display: flex;
  padding-bottom: 5px;
  flex:1;
  justify-content: center;
  margin-right: 5px;
  font-size: var(--font-regular);
  font-weight: bold;
  color:var(--text-white);
  cursor: pointer;
}
.navTab:last-child{
  margin-right: 0;
}
.activeNavTab{
  border-bottom: 3px solid #fff;
  color:var(--text-white);
}
.groupsWrap{
  margin-top: 20px;
}
.groupCard {
  background-color: #498CF2;
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 10px;
  cursor: pointer;
  color:var(--text-white);
  transition: .2s;
}

.activeGroupCard {
  background-color: #256CD7;
  font-weight: bold;
  border:1px solid #498CF2;
  /* color: var(--accent); */
}

.groupCard:hover {
  background-color: #2772E3;
}

.activeGroupCard:hover {
  background-color: #256CD7;
}

.groupCardMenu {
  display: none;
  align-items: center;
}

.groupCard:hover .groupCardMenu {
  display: block;
}

.groupCard p {
  margin-bottom: 5px;
  font-size: var(--font-medium);
  color:inherit;
}
.groupCard p:last-child{
  margin-bottom: 0;
}
.iconMargin {
  margin-right: 5px;
}

.groupCard span {
  font-weight: initial;
  line-height: 2em;
  color:inherit
}

.folio{
  border-radius: 10px;
  border:1px solid var(--border);
  overflow:hidden;
}
.folioHeader{
  background-color: var(--secondary-background);
  padding:10px;
}