.planPreviewHeader {
  font-size: var(--font-regular);
  color: var(--text-primary);
  text-align: center;
  padding: 15px 0 35px 0;
  width: 100%;
  border-radius: 16px;
  background-color: var(--input-background);
  font-weight: 600;
}

.planCard {
  width: 270px;
  background-color: var(--accent);
  border-radius: 16px;
  padding: 10px;
  margin-top: -20px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.planHeader, .planCardPricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin-bottom: 10px;
}

.planCard * {
  color: #fff !important;
  text-align: center;
}
.planCard h6{
  font-weight: 500;
  padding-bottom: 10px;
}
.planCardPricing {
  flex-direction: row;
  padding: 8px 10px;
  justify-content: space-between;
  font-size: var(--font-medium);
  margin: 10px 0 0 0;
}

.propertyHeadline {
  font-size: var(--font-medium);
  font-weight: 600;
  color: var(--text-primary);
  padding: 30px 10px 2px 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.propertyHeadline:first-of-type {
  padding-bottom: 6px;
}

.propertySubHeadline {
  font-size: var(--font-small);
  color: var(--text-secondary);
  padding: 0 10px 5px 10px;
  margin: 0;
}

.inlineInput, .propertyValueContainer {
  padding: 10px;
  background-color: var(--input-background);
  border-radius: 10px;
  color: var(--text-primary);
  border:0;
  width: 100%;
  outline: none;
  transition: 0.2s;
}

.propertyValueContainer {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  border:1px dashed var(--border-darker);
  height:50px;
}

.inlineInput:hover, .inlineInput:focus {
  background-color: var(--background-secondary);
}

.withDeleteButton {
  padding-right: 40px;
}

.colorBox {
  height: 30px;
  width: 30px;
  background-color: var(--accent);
  border-radius: 6px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  border: 0;
  outline: none;
}

.colorBox:active {
  opacity: 0.8;
}

.benefitBox, .pricingBox {
  margin-bottom: 5px;
  background-color: transparent;
  position: relative;
}

.pricingBox {
  border:1px dashed var(--border-darker);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.deleteButton {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
}

.popoverPaper {
  padding: 5px 0px;
  border-radius: 5px;
  background-color: var(--background-paper);
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 40px;
}

.menuItem {
  padding: 5px 10px;
  font-size: var(--font-regular);
  display: flex;
  align-self: stretch;
  transition: .2s;
  cursor: pointer;
  color: var(--text-primary);
  align-items: baseline;
  color: var(--text-primary);
  border: 0;
  outline: none;
  background-color: transparent;
}

.menuItem:hover {
  background-color: var(--popover-hover);
  color: var(--text-primary);
}