.container {
  padding-top: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* -------- */

.navbar {
  width: 200px;
  padding: 10px;
  padding-top: 25px;
  background-color: var(--accent);
  overflow-y:auto;
}

.navlink {
  font-size: var(--font-regular);
  font-weight:600;
  color:#fff;
  padding: 3px 5px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.navlink:hover {
  background-color: #005ADF;
  text-decoration: none;
  opacity: 1;
  color:#fff
}

.activeNavlink {
  text-decoration: none;
  background-color: #0055D3;
  font-weight:700;
}

.activeNavlink:hover {
  background-color: #256CD7;
}

.navlinkBadge {
  font-weight: initial;
  font-size: var(--font-medium);
  color: inherit;
}

.navTabBar{
  border-bottom: 1px solid #5493F2;
  padding:5px 10px 0 10px;
  display: flex;
  margin-top: 10px;
}
.navTab{
  display: flex;
  padding-bottom: 5px;
  flex:1;
  justify-content: center;
  margin-right: 5px;
  font-size: var(--font-regular);
  font-weight: bold;
  color:#fff;
  cursor: pointer;
}
.navTab:last-child{
  margin-right: 0;
}
.activeNavTab{
  border-bottom: 3px solid #fff;
  color:#fff;
}
.groupsWrap{
  margin-top: 20px;
}
.groupCard {
  background-color: #2677EE;
  border:1px solid #2677EE;
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 10px;
  cursor: pointer;
  color:#fff;
  transition: .2s;
  display: block;
}

.activeGroupCard {
  background-color: #0055D3;
  border:1px solid #2677EE;
}

.groupCard:hover {
  background-color: #005ADF;
  border:1px solid #005ADF;
  color:#fff;
}

.activeGroupCard:hover {
  background-color: #0055D3;
  border:1px solid #2677EE;
}

.groupCardMenu {
  display: none;
}

.groupCard:hover .groupCardMenu {
  display: block;
}

.groupCard p {
  margin-bottom: 5px;
  font-size: var(--font-medium);
  color:inherit;
  font-weight:600;
}
.groupCard p:last-child{
  margin-bottom: 0;
}
.iconMargin {
  margin-right: 5px;
}

.groupCard span {
  font-weight: initial;
  line-height: 2em;
  color:inherit
}

.folio{
  border-radius: 10px;
  border:1px solid var(--border);
  overflow:hidden;
}
.folioHeader{
  background-color: var(--secondary-background);
  padding:10px;
}