
.qtyInputWrap {
  display: flex;
  flex: 1;
  align-items: baseline;
  padding-right:120px;
  position: relative;
  color:var(--text-primary)
}

.qtyInputLeft,.qtyInputRight {
  width:70px;
  border: 0;
  outline: none;
  color: var(--text-primary);
  padding: 5px 8px;
  line-height: 1;
  border-radius: 3px;
  font-weight: 500;
  background-color:var(--input-background);
  position: relative;
}
.qtyInputLeft:hover,.qtyInputRight:hover,.qtyInputLeft:focus,.qtyInputRight:focus {
  background-color:var(--input-focused-background); ;
}
.qtyInputLeft{
  text-align: right;
}
.qtyInputRight{
  padding-right: 22px;
}
.rangeIcon {
  font-size: var(--font-regular);
  padding: 0 5px;
  vertical-align: middle;
  color: var(--text-primary);
  opacity: .8;
  font-weight: normal;
}
.actionButtonWrap{
  position: absolute;
  right:10px;
  top:0;
  height: 100%;
}
.scripSearch,.scripSearchInput{
  background-color: var(--input-background);
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 10px;
  height:2.5em;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1em;
  color:var(--text-primary);
  width:100%;
}
.scripSearch{
  cursor: pointer;
  margin-right: 10px;
  width:auto;
  height:2.5em;
}
.scripSearchInput:hover,.scripSearchInput:focus,.scripSearch:hover{
  background-color: var(--input-focused-background);;
}

.scriptState {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin:0 5px 0 15px;
}
.stateIndicator {
  position: absolute;
  top: 6px;
  left: -5px;
  height: 12px;
  width: 7px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.stateNew{
  background-color: var(--accent);
}

.stateModified {
  background-color: #FE6F01;
}
.scripSearchPopover{
  width:300px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-paper);
}
.scripSearched{
  padding:5px 20px;
  margin:0 -10px;
  font-size: var(--font-medium);
  display: flex;
  justify-content: space-between;
  transition: .2s;
  cursor: pointer;
  color: var(--text-primary);
}
.scripSearched:last-child{
  border:0
}
.scripSearched:hover{
  background-color: var(--background-secondary);
}
.divider {
  border-bottom: 1px solid var(--border);
  padding-top: 10px;
  display: flex;
}