.header {
  padding: 0 20px
}

.scripsWrap {
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  flex: 1;
}

.tableCell {
  padding: 0 10px;
  border-right: 1px solid var(--border);
  position: relative;
}

.noBorder {
  border: 0
}

.rangeIcon {
  font-size: var(--font-medium);
  padding: 0 5px;
  vertical-align: middle;
  color: #848484
}
.orderCount{
  display: flex;
  flex:0;
  padding:0 5px;
  align-items: center;
  border-radius: 8px;
  background-color: var(--accent-shade);
  position: relative;
  white-space: nowrap;
}
.indicator {
  position: absolute;
  top: 6px;
  left: -5px;
  height: 12px;
  width: 7px;
  background-color: var(--accent);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.orderCount .indicator{
  top:50%;
  left:0;
  margin-top:-6px;
}

.menuPopover{
  width:200px;
  padding:5px 0px;
  border-radius: 5px;
  background-color: var(--background-paper);
}
.menuItem{
  padding:5px 20px;
  margin:0 -10px;
  font-size: var(--font-regular);
  display: flex;
  transition: .2s;
  cursor: pointer;
  color: var(--text-primary);
  align-items: baseline;
  color:var(--text-primary);
  font-weight: 500;
}
.menuItem:hover{
  background-color: var(--background-secondary);
  color:var(--text-primary);
}