:root {
  --font-regular: 14px;
  --font-medium: 13px;
  --font-semilarge: 16px;
  --font-large: 18px;
  --font-small: 12px;
}

.light-theme {
  --accent: rgb(0, 95, 235);
  --text-accent-button: var(--accent);
  --accent-background: rgb(0, 95, 235);
  --background-primary: rgb(255, 255, 255);
  --background-secondary: rgba(0, 0, 0, 0.05);
  --accent-shade: rgba(0, 95, 235, 0.07);
  --slider-color: rgb(0, 95, 235);
  --scrollbar-color: rgba(0, 0, 0, 0.8);
  --scrollbar-border-color: transparent;
  --text-primary: rgb(0, 0, 0);
  --primary-shade: rgba(0, 0, 0, 0.07);
  --text-white: rgb(255, 255, 255);
  --text-secondary: rgb(132, 132, 132);
  --text-green: rgb(25, 175, 85);
  --text-red: rgb(219, 80, 61);
  --red-shade: rgba(219, 80, 61, 0.1);
  --border: #e2e2e2;
  --border-darker: rgba(0, 0, 0, 0.15);
  --input-background: rgba(0, 0, 0, 0.05);
  --input-focused-background: rgba(0, 0, 0, 0.08);
  --background-paper: rgba(255, 255, 255, 0.1);
  --table-head-background: rgb(245, 246, 248);
  --table-cell-background: rgba(245, 246, 248, 0.7);
  --nav-column-card: rgba(255, 255, 255, 0.2);
  --nav-column-card-active: rgba(0, 0, 0, 0.05);
  --green: rgb(40, 196, 102);
  --green-shade: rgb(25, 175, 85, 0.15);
  --yellow: rgb(197, 161, 0);
  --yellow-shade: rgba(255, 218, 52, 0.20);
  --orange: rgb(242, 142, 28);
  --orange-shade: rgba(242, 142, 28, 0.15);
  --olive: rgb(159, 180, 21);
  --olive-shade: rgba(159, 180, 21, 0.15);
  --teal: rgb(0, 173, 165);
  --teal-shade: rgba(0, 173, 165, 0.15);
  --pink: rgb(206, 52, 139);
  --pink-shade: rgba(206, 52, 139, 0.15);
  --purple: rgb(147, 48, 180);
  --purple-shade: rgba(147, 48, 180, 0.15);
  --brown: rgb(148, 93, 56);
  --brown-shade: rgba(148, 93, 56, 0.15);
  --brown: rgb(148, 93, 56);
  --brown-shade: rgba(148, 93, 56, 0.15);
  --checkbox-unchecked: rgb(187, 187, 187);
  --popover-hover: var(--background-secondary);
}

.dark-theme {
  --accent: rgb(0, 95, 235);
  --text-accent-button: rgb(57, 136, 255);
  --accent-background: rgb(0, 95, 235, 0.5);
  --background-primary: rgb(32, 34, 37);
  --background-secondary: rgba(222, 231, 255, 0.07);
  /* --background-secondary: rgb(47, 49, 54); */
  --accent-shade: rgba(0, 95, 235, 0.15);
  --slider-color: var(--accent);
  --scrollbar-color: rgba(255, 255, 255, 0);
  --scrollbar-border-color: rgba(255, 255, 255, 0.8);
  --text-primary: rgb(219, 219, 219);
  --primary-shade: rgba(255, 255, 255, 0.1);
  --text-white: var(--text-primary);
  --text-secondary: #848484;
  --text-green: rgb(51, 218, 118);
  --text-red: rgb(255, 112, 93);
  --red-shade: rgba(255, 95, 74, 0.2);
  --border: rgba(255, 255, 255, 0.1);
  --border-darker: rgba(255, 255, 255, 0.2);
  --input-background: rgba(222, 231, 255, 0.07);
  --input-focused-background: rgba(222, 231, 255, 0.15);
  --background-paper: var(--background-secondary);
  --table-head-background: #2f3136;
  --table-cell-background: rgb(47, 49, 54, 0.6);
  --nav-column-card: rgba(255, 255, 255, 0.07);
  --nav-column-card-active: rgba(0, 0, 0, 0.05);
  --green: rgb(51, 218, 118);
  --green-shade: rgb(25, 175, 85, 0.15);
  --yellow: rgb(197, 161, 0);
  --yellow-shade: rgba(255, 218, 52, 0.20);
  --orange: rgb(242, 142, 28);
  --orange-shade: rgba(242, 142, 28, 0.15);
  --olive: rgb(159, 180, 21);
  --olive-shade: rgba(159, 180, 21, 0.15);
  --teal: rgb(0, 173, 165);
  --teal-shade: rgba(0, 173, 165, 0.15);
  --pink: rgb(206, 52, 139);
  --pink-shade: rgba(206, 52, 139, 0.15);
  --purple: rgb(147, 48, 180);
  --purple-shade: rgba(147, 48, 180, 0.15);
  --brown: rgb(196, 146, 113);
  --brown-shade: rgba(177, 121, 84, 0.2);
  --checkbox-unchecked: #747474;
  --popover-hover: var(--background-primary);
}

.text-primary {
  color: var(--text-primary)
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: #000;
}

.text-accent {
  color: var(--accent);
}

.text-secondary {
  color: var(--text-secondary)
}

.text-green {
  color: var(--text-green);
}

.text-red {
  color: var(--text-red);
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 500;
}

.font-regular {
  font-size: var(--font-regular);
}

.font-medium {
  font-size: var(--font-medium);
}

.font-small {
  font-size: var(--font-small);
}

.font-semilarge {
  font-size: var(--font-semilarge);
}

.font-large {
  font-size: var(--font-large);
}

.font-largest {
  font-size: 20px;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-top--small {
  margin-top: 5px;
}

.margin-bottom--small {
  margin-bottom: 5px;
}

.margin-right--small {
  margin-right: 5px;
}

.margin-left--small {
  margin-left: 5px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-left {
  padding-left: 10px;
}

.spacer {
  padding: 0 5px
}

.opacity50 {
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.fill {
  flex: 1
}

.row-flex {
  flex-direction: row;
}

.col-flex {
  flex-direction: column;
}

.main-end {
  justify-content: flex-end;
}

.main-center {
  justify-content: center;
}

.cross-center {
  align-items: center !important;
}

.cross-baseline {
  align-items: baseline;
}

.cross-stretch {
  align-items: stretch;
}

.cross-start {
  align-items: flex-start;
}

.cross-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.no-number-stepper::-webkit-outer-spin-button, .no-number-stepper::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-number-stepper[type=number] {
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: var(--scrollbar-color)
}

*::-webkit-scrollbar-thumb:hover {
  width: 6px;
  background-color: var(--scrollbar-hover-color);
}

.simplebar-scrollbar::before {
  background-color: var(--scrollbar-color) !important;
  box-shadow: 0 0 1px 1px var(--scrollbar-border-color) !important;
}

.simplebar-track.simplebar-vertical {
  width: 8px !important;
}