.tableWrap{
  margin-top: 5px;
  overflow-y: auto;
  padding:10px 20px;
  padding-top:0
}

.iconMargin {
  margin-right: 5px;
}
.header{
  padding:0 20px 
}

.orderCount{
  display: flex;
  flex:0;
  padding:0 5px;
  align-items: center;
  border-radius: 8px;
  background-color: var(--background-secondary);
  position: relative;
  white-space: nowrap;
}