.container {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* -------- */

.navbar {
  width: 190px;
  padding: 10px;
  border-right: 1px solid #e2e2e2;
  overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

.navbar::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #e2e2e2;
}

.navlink {
  font-size: var(--font-regular);
  font-weight: bold;
  color: #000;
  padding: 3px 5px;
  text-decoration: none;
  border-radius: 5px;
}

.navlink:hover {
  background-color: #EEF1F3;
  text-decoration: none;
  opacity: 1;
  color: #000000;
}

.activeNavlink {
  color: #2978EF;
  text-decoration: none;
}

.activeNavlink:hover {
  background: none;
  color: #2978EF;
}

.navlinkBadge {
  font-weight: initial;
  font-size: var(--font-medium);
  color: #848484
}

.navTabBar{
  border-bottom:1px solid var(--border-light);
  padding:5px 10px 0 10px;
  display: flex;
  margin-top: 10px;
}
.navTab{
  display: flex;
  padding-bottom: 5px;
  flex:1;
  justify-content: center;
  margin-right: 5px;
  font-size: var(--font-regular);
  font-weight: bold;
  color:var(--text-secondary);
  cursor: pointer;
}
.navTab:last-child{
  margin-right: 0;
}
.activeNavTab{
  border-bottom:3px solid var(--text-accent);
  color: var(--text-accent);
}
.groupCard {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.activeGroupCard {
  border: 3px solid var(--text-accent);
}

.groupCard:hover {
  border-color: #848484;
}

.activeGroupCard:hover {
  border-color: var(--text-accent);
}

.groupCardMenu {
  display: none;
}

.groupCard:hover .groupCardMenu {
  display: block;
}

.groupCard p {
  margin-bottom: 5px;
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--test-primary);
}
.groupCard p:last-child{
  margin-bottom: 0;
}
.iconMargin {
  margin-right: 5px;
}

.groupCard span {
  font-weight: initial;
  line-height: 2em;
}

.folio{
  border-radius: 10px;
  border:1px solid var(--border);
  overflow:hidden;
}
.folioHeader{
  background-color: var(--secondary-background);
  padding:10px;
}